{% extends 'base.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<body>
    <div>
       <h1>Моя домашняя библиотека</h1>
    </div>
    <div style="width: 1280px; height: 1200px; background-image: url('../books/static/books/images/Cover.jpg')">
        <div><a style="color: yellow" href="https://book24.ru">Интернет-магазин Book24</a></div>
        <div><a style="color: yellow"href="https://www.bookvoed.ru">Интернет-магазин "Буквоед"</a></div>
        <div><a style="color: yellow"href="https://www.labirint.ru">Интернет-магазин "Лабиринт"</a></div>
        <blockquote style="color: white; font-size: 50px"">Вовремя прочитанная книга - огромная удача. Она способна изменить жизнь, как не изменит ее лучший друг или наставник. (П. Павленко)<blockquote>
    </div>
</body>
{% endblock %}

{% block footer %}
    <p class="copyright">Моя домашняя библотека</p>
{% endblock %}
