<!-- Краткое представление карточки книги -->
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-8">
      {% if book.file_path %}
      <div class="card-body bg-warning">
      {% else%}
      <div class="card-body bg-secondary">
      {% endif %}
        <h4 class="card-title">{{ book.title }}</h4>
        <h5 class="card-title">Автор: {{ book.author }}</h5>
        {% if book.file_path %}
              <i class="bi bi-files"></i> "Электронная книга"
              <div><a href="{{book.file_path.url}}"> {{ book.title }}</a></div>
        {% endif %}
        <p class="card-text">
          Теги:
            {% for tag in book.tags.all %}
             <span class="badge bg-secondary">
              <a href="{% url 'get_books_by_tag' tag_id=tag.pk %}" class="text-white">{{ tag.name }}</a>
             </span>
            {% endfor %}
        </p>
        {% if book.images_path %}
        <img src="{{book.images_path.url}}" width="100px">
        {% else %}
        <p>Обложка отсутствует или не загрузилась</p>
        {% endif %}
        <div class="d-flex justify-content-between align-items-center mt-2">
          <div>
            <i class="bi bi-star-fill"></i> {{ book.year }}
            <!-- Кнопка детального представления -->
            <a href="{{ book.get_absolute_url }}" class="btn btn-dark btn-sm" role="button">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>